<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head.html}"></head>
<body>
<div class="page-wrap">
  <nav th:insert="~{partials/navbar.html}"></nav>
  <div class="container">
    <div class="row">
      <div class="column">
        <!--        <form th:if="${post.id == 0}" th:action="@{/posts/create}" th:object="${post}" method="post">-->
        <form th:action="${post.id == 0} ? @{/posts/create} : @{/posts/${post.id}/edit(id=${post.id})}"
              th:object="${post}" method="post">
                    <h2 th:text="${post.id == 0} ? 'Create Post' : 'Edit Post'"></h2>
<!--                    <h2 th:text="${post.id != 0}">Edit Post</h2>-->
          <div class="form-wrap">
            <div class="form-group">
              <label for="title">Title:</label>
              <input th:field="*{title}" th:value="*{title}" id="title" name="title" type="text" autofocus>
            </div>
            <div class="form-group">
              <label for="body">Body:</label>
              <textarea th:field="*{body}" th:value="*{body}" id="body" name="body" rows="10" cols="35"></textarea>
            </div>
            <input type="hidden" name="" th:field="*{user}" th:value="*{user}">
          </div>
          <button type="submit" value="submit">Create</button>
        </form>
      </div>
    </div>
    <footer th:insert="~{partials/footer.html}"></footer>
  </div>
</div>
</body>
</html>