<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="UTF-8">
    <title>Create a Post</title>
</head>
<body>
<nav th:insert="partials/navbar.html"></nav>
<div class="page-wrap">
    <main>
        <h2>Create a Post</h2>
        <form action="/posts/create" method="post">
            <label for="title">Title:</label>
            <input id="title" name="title" type="text">
            <label for="body">Body:</label>
            <textarea id="body" name="body" rows="10" cols="35"></textarea>
            <input class="form-submit" type="submit" value="submit"/>
        </form>
    </main>
</div>
<footer th:insert="partials/footer.html"></footer>
</body>
</html>