<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head.html}"></head>
<body>
<div class="page-wrap">
  <nav th:insert="~{partials/navbar.html}"></nav>
  <div class="container">
    <div class="row">
      <div class="column">
        <form th:action="@{/posts/edit}" method="post">
          <h2>Edit Post</h2>
          <div class="form-wrap">
            <div class="form-group">
              <label for="title">Title:</label>
              <input id="title" name="title" type="text" autofocus>
            </div>
            <div class="form-group">
              <label for="body">Body:</label>
              <textarea id="body" name="body" rows="10" cols="35"></textarea>
            </div>
            <input type="hidden" name="postId" th:value="${post.id}">
          </div>
          <button type="submit" value="submit">Create</button>
        </form>
      </div>
    </div>
    <footer th:insert="~{partials/footer.html}"></footer>
  </div>
</div>
</body>
</html>