<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head.html}"></head>
<body>
<div class="page-wrap">
  <nav th:include="~{partials/navbar.html}"></nav>
  <div th:insert="~{partials/comment-modal.html}"></div>
  <div class="container">
    <div class="row">
      <div class="column">
        <h1 th:text="${username}"></h1>
        <div class="list-wrap">
          <ul th:each="post : ${userPosts}">
            <li>
              <a th:href="@{|/posts/${post.id}|}"><h2 th:text="${post.title}"></h2></a>
              <p th:text="${post.body}"></p>
              <button class="open-modal-btn">Leave A Comment</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer th:insert="~{partials/footer.html}"></footer>
</div>
<div th:insert="~{partials/javascript.html}"></div>
</body>
</html>