h2 {
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 360px;
    height: 400px;
    padding: 20px;
}

.form-submit {
    margin-top: 15px;
}

