form {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    align-items: stretch;
    max-width: 800px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 3px #1f75aa
}

.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 20px;
    height: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
}

/* CREATES "SPLIT" ATTRIBUTE WITH VALUE OF "1/2" TO FORM-GROUP, WHICH ALLOWS THE FORM TO HAVE 2 INPUTS PER ROW */
.form-group[split="1/2"] {
    width: calc(50% - 5px);
}

h2 {
    font-size: xx-large;
    font-weight: 200;
    align-self: center;
    color: #1f75aa;
}

button {
    padding: 6px 8px;
    border: none;
    border-radius: 2px;
    background: #1f75aa;
    color: #fff;
}

input, textarea {
    display: flex;
    flex-direction: column;
    min-height: 40px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
    outline: unset;
    border: unset;
    color: inherit;
    font-family: inherit;
    transition: all ease-in .3s;
}

input:focus, textarea:focus {
    outline: unset;
    box-shadow: inset 0 0 3px #1f75aa;
    background: rgba(0,0,0,.4);
}

textarea {
    resize: none;
}
