@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: rgba(0, 0, 0, .4);
    font-family: 'Inter',sans-serif;
}

.hidden {
    display: none;
}

.page-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex: 1 0 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 80px;
}

