body {
    background: rgba(0, 0, 0, .3);
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.page-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 80px;
}
