.list-wrap {
    display: flex;
    flex-direction: column;
    max-height: 650px;
    padding: 60px;
    align-items: stretch;
    row-gap: 15px;
    background:rgba(255,255,255,.5);
    box-shadow: inset 1px 1px 3px #1f75aa;
    border-radius: 1em;
    overflow-y: auto;
}

h1 {
    text-align: center;
    font-size: xxx-large;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(0,0,0,.3);
    margin-bottom: 10px;
    color: #1f75aa;
}

h2 {
    text-transform: capitalize;
    font-weight: 200;
    flex: 1;
    color: #1f75aa;
}

.list-wrap ul {
    border-radius: 1rem;
}

.list-wrap li {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 4px #1f75aa;
    background: rgba(255, 255, 255, .7);
    width: 100%;
    min-height: 125px;
    padding: 20px;
}

.list-wrap li p {
    font-size: large;
    flex: 3;
}

.list-wrap li a:hover {
    text-decoration: none;
    border: none;
}

.single-post-li {
    text-align: center;
}

.open-modal-btn {

}