<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<nav th:include="partials/navbar.html"></nav>
<h1>Register Account</h1>
<form action="/register" method="post"
      style="display: flex; flex-direction: column; max-width: 360px; max-height: 400px; justify-content:space-between; align-items:stretch; row-gap: 10px;">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text">
    <label for="email">Email:</label>
    <input id="email" name="email" type="text">
    <input type="submit" value="Register">
</form>
<footer th:insert="partials/footer.html"></footer>
</body>
</html>