<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<nav th:include="partials/navbar.html"></nav>
<h1>Register Account</h1>
<form action="/register" method="post"
      style="display: flex; flex-direction: column; max-width: 360px; max-height: 400px; justify-content:space-between; align-items:stretch; row-gap: 10px;">
    <label>
        <span>Username:</span>
        <input id="username" name="username" type="text">
    </label>
    <label>
        <span>Email:</span>
        <input id="email" name="email" type="email">
    </label>
    <label>
        <span>Password:</span>
        <input id="password" name="password" type="password">
    </label>
    <label>
        <span>Username:</span>
        <input id="password-confirm" name="password-confirm" type="password">
    </label>
    <input type="submit" value="Register">
</form>
</body>
</html>